<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs%>

<body>
<% include partials/nav.ejs %>

<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><p class="nav-desc"><span class="glyphicon glyphicon-tag"></span>Invoice</p></li>
                    <li><p class="nav-desc">Invoice for <%= customerName %></p></li>
                </ul>
                <ul class="nav navbar-nav list-action-2">
                    <li><a class="btn btn-sm btn-success" onclick="window.print()"><span class="glyphicon glyphicon-print"> Save to PDF</span> </a> </li>
                </ul>
            </nav>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><strong>S.No</strong></td>
                        <td><strong>Certification</strong></td>
                        <td><strong>Description</strong></td>
                        <td><strong>Sale Price (USD)</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <% let total = 0%>
                    <% if(coinIds) { %>
                        <% for(let i = 0; i < coinIds.length; ++i){%>
                        <tr>
                            <td><%= i+1 %></td>
                            <td><%= coinIds[i].certification %></td>
                            <td><%= coinIds[i].grader %> - <%= coinIds[i].grade %> - <%= coinIds[i].denomination %></td>
                            <td>$ <%= parseFloat(coinIds[i].price).toFixed(2) %></td>
                        </tr>
                    <% total += parseFloat(coinIds[i].price) %>
                        <% } %>
                    <% } %>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td><h4>Total = </h4></td>
                        <td><h4>$ <%= total.toFixed(2) %></h4></td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>

<% include partials/scripts.ejs %>
<script>
    $(document).ready(function () {
    });
</script>
</body>
</html>