<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs%>

<body>
<% include partials/nav.ejs %>
<div class="jumbotron profile-main">
    <div class="container profile-container">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/profile.png" class="profile-picture"/>
            </div>
            <div class="col-md-6">
                <h3 class="profile-name"><%= firstname %>  <%= lastname %> ( <%= username %> )</h3>
                <h4> <%= email %></h4>
            </div>
            <div class="col-md-offset-6"></div>
        </div>
    </div>
</div>
<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><p class="nav-desc"><strong>LEDGER</strong></p></li>
                    <li><p class="nav-desc">Here You will see all transaction history</p></li>
                </ul>
                <ul class="nav navbar-nav list-action-2">
                    <li><div class="item-perpage">
                            <select class="selectpicker" data-width="65px">
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="container">
                <div class="form-inline form-ledger">
                    <div class="form-group">
                        <label for="all">ALL</label>
                        <input type="radio" class="form-control" id="all" name="choice">
                    </div>
                    <div class="form-group">
                        <label for="buy">BUY</label>
                        <input type="radio" class="form-control" id="buy" name="choice">
                    </div>
                    <div class="form-group">
                        <label for="regrade">REGRADE</label>
                        <input type="radio" class="form-control" id="regrade" name="choice">
                    </div>
                    <div class="form-group">
                        <label for="sell">SELL</label>
                        <input type="radio" class="form-control" id="sell" name="choice">
                    </div>
                </div>
                <div class="container">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>S.NO.</th>
                            <th>Date (MM/DD/YYYY)</th>
                            <th>Action</th>
                            <th>Item</th>
                            <th>Certification Number</th>
                            <th><span class="text-success">+</span>/<span class="text-danger">-</span></th>
                        </tr>
                        </thead>
                        <% if (coins) { %>
                            <tbody>
                            <% for(let i = 0; i < coins.length; ++i){ %>
                                <tr>
                                    <td><%= coins[i].index %></td>
                                    <% let date = new Date(coins[i].date)%>
                                    <td><%= date.getMonth() + 1 %>/<%= date.getDate() %>/<%= date.getFullYear() %></td>
                                    <% if( typeof coins[i].soldcoin != "boolean") { %>
                                        <td class="text-info">REGRADE</td>
                                    <% } else if (coins[i].soldcoin){%>
                                        <td class="text-success"><strong>SELL</strong></td>
                                    <% } else { %>
                                        <td class="text-danger"><strong>BUY</strong></td>
                                    <% } %>
                                    <td><%= coins[i].grader %> - <%= coins[i].year %> - <%= coins[i].grade %> - <%= coins[i].denomination %></td>
                                    <td><%= coins[i].certification %></td>
                                    <% if(!coins[i].soldcoin || coins[i].price < 0) { %>
                                        <td class="text-danger"> $ <%= parseFloat(coins[i].price).toFixed(2) %></td>
                                    <% } else { %>
                                        <td class="text-success"> $ <%= parseFloat(coins[i].price).toFixed(2)  %></td>
                                    <% } %>
                                    </tr>
                            <% } %>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-2">
                    <% if(currentPage > 1 ) { %>
                    <% let previousPage = addUrlParam(url, 'page', Number(currentPage) -1 ) %>
                    <li><a href="<%= previousPage %>"><span class="glyphicon glyphicon-chevron-left"></span> </a> </li>
                    <% } %>
                    <% if (pageCount > 1 && currentPage != pageCount) { %>
                    <% let nextPage = addUrlParam(url, 'page', Number(currentPage) + 1 )%>
                    <li><a href="<%= nextPage %>"><span class="glyphicon glyphicon-chevron-right"></span> </a> </li>
                    <% } %>
                </ul>
            </nav>
        </div>
    </div>
</div>
<% include partials/scripts.ejs %>
<script>
    function activeRadioButton() {
        if(location.href.indexOf("/buy") !== -1)
            $('#buy').prop('checked', true);
        else if(location.href.indexOf("/sell") !== -1)
            $('#sell').prop('checked', true);
        else if(location.href.indexOf("/regrade") !== -1)
            $('#regrade').prop('checked', true);
        else
            $('#all').prop('checked', true);
    }
    $(document).ready(function () {
        activeRadioButton();
        $('#all').click(function () {
            location.href = "/ledger";
        });
        $('#buy').click(function () {
            location.href = "/ledger/buy";
        });
        $('#sell').click(function () {
            location.href = "/ledger/sell";
        });
        $('#regrade').click(function () {
            location.href = "/ledger/regrade";
        });

        $('.selectpicker').change(function () {
            location.href = location.protocol + '//' + location.host + location.pathname + '?items=' + $(this).val();
        });
        $('.selectpicker').val(getParam('items'));
    });
</script>
</body>
</html>