<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<% include partials/nav.ejs %>
<div class="jumbotron profile-main">
    <div class="container profile-container">
        <div class="row">
            <div class="col-md-4">
                <img src="/img/profile.png" class="profile-picture"/>
            </div>
            <div class="col-md-6">
                <h3 class="profile-name"><%= firstname %>  <%= lastname %> ( <%= username %> )</h3>
                <h4> <%= email %></h4>
            </div>
            <div class="col-md-offset-6"></div>
        </div>
    </div>
</div>
<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><a href="/list/add"  class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</a> </li>
                    <li><a id="removebutton" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Remove</a> </li>
                    <li><a id="sellbutton"   class="btn btn-danger" href="#"><span class="glyphicon glyphicon-tag"></span>Sell</a> </li>
                    <li><a id="editbutton"   class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Edit</a> </li>
                    <li><a id="regradebutton"   class="btn btn-info"><span class="glyphicon glyphicon-edit"></span>Regrade</a> </li>
                </ul>

                <ul class="nav navbar-nav list-action-2">
                    <li class="searchtools"><a><input id="searchbox" type="text" class="form-control input-sm" maxlength="64" placeholder="Search" /></a></li>
                    <li class="searchtools"><a><button id="searchbutton" type="submit" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span></button></a></li>
                    <li><a><span id="searchicon" class="glyphicon glyphicon-search"></span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-sort"></span></a>
                        <ul class="dropdown-menu pull-right">
                            <li><a class="dropdown-navbar" href="/list/sort/price/asc">Price</a></li>
                            <li><a class="dropdown-navbar" href="/list/sort/description/asc">Description</a></li>
                            <li><a class="dropdown-navbar" href="/list/sort/certification/asc">Certification</a></li>
                        </ul>
                    </li>
                    <li><div class="item-perpage">
                            <select class="selectpicker" data-width="65px">
                                <option>25</option>
                                <option>50</option>
                                <option>100</option>
                            </select>
                        </div>
                    </li>

                </ul>
            </nav>
            <div class="list">
                <table class="table table-inverse">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Item</th>
                        <th>Certification No</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% if(typeof inventory === 'object' && inventory) {%>
                        <% for (let i = 0 ; i < inventory.length ; ++i ) {%>
                            <% if (i % 2 == 0) { %>
                            <tr class="tr">
                            <% } else { %>
                            <tr class="light-blue tr" >
                            <% } %>
                                <th scope="row"><input type="checkbox" name="<%= inventory[i]._id %>" id = "<%= i %>" /> </th>
                                <td><%= inventory[i].denomination %> - <%= inventory[i].grade %></td>
                                <td><%= inventory[i].certification%></td>
                                <td>$ <%= inventory[i].price%></td>
                            </tr>
                            <% }%>
                    <% }%>
                    </tbody>
                </table>
            </div>
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-2">
                    <% if(currentPage > 1 ) { %>
                    <% let previousPage = url + '?page=' + (currentPage -1) %>
                    <li><a href="<%= previousPage %>"><span class="glyphicon glyphicon-chevron-left"></span> </a> </li>
                    <% } %>
                    <% if (pageCount > 1 && currentPage != pageCount) { %>
                    <% let nextPage = url + '?page=' + (currentPage +1)%>
                    <li><a href="<%= nextPage %>"><span class="glyphicon glyphicon-chevron-right"></span> </a> </li>
                    <% } %>
                </ul>
            </nav>
        </div>
        <div id="alertbox" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Attention</h4>
                    </div>
                    <div class="modal-body">
                        <p>Please select one item to edit or sell</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% include partials/scripts.ejs %>
<script>
    function showButtons() {
        if ( $("[type=checkbox]:checked").length > 0) {
            $('#editbutton').show('slow');
            $('#removebutton').show('slow');
            $('#sellbutton').show('slow');
            $('#regradebutton').show('slow');
        }
        else {
            $('#editbutton').hide('slow');
            $('#removebutton').hide('slow');
            $('#sellbutton').hide('slow');
            $('#regradebutton').hide('slow');
        }
    }

    function multipleSelect() {
        if($("[type=checkbox]:checked").length > 1) {
            $('#alertbox').modal('show');
            return true;
        }
        return false;
    }
    $(document).ready(function () {


        $('[type=checkbox]').change(showButtons());

        $('.tr').click(function (e) {
            $(this).toggleClass('material-green');
            if($(e.target).closest('input[type="checkbox"]').length == 0){
                if ($(this).find('input').is(':checked')) {
                    $(this).find('input').prop('checked', false);
                }
                else {
                    $(this).find('input').prop('checked', true);
                }
            }
            showButtons();
        });

        $('#sellbutton').click(function () {
            if(!multipleSelect()) {

                let selectedCoin;
                $("[type=checkbox]:checked").each(function () {
                    selectedCoin = $(this).attr("name");
                });
                if (selectedCoin) {
                    window.location.href = "/list/sell/" + selectedCoin;
                }
            }
        });
        $('#editbutton').click(function () {

            if(!multipleSelect()) {
                let selectedCoin;
                $("[type=checkbox]:checked").each(function () {
                    selectedCoin = $(this).attr("name");
                });
                if (selectedCoin) {
                    window.location.href = "/list/edit/" + selectedCoin;
                }
            }
        })
        $('#removebutton').click(function () {
            let selectedCoins = [];
            $("[type=checkbox]:checked").each ( function() {
                selectedCoins.push($(this).attr("name"));
            });
            if(selectedCoins.length > 0) {
                $.ajax({
                    url: '/list/remove',
                    type: 'DELETE',
                    data: {
                        coins: selectedCoins
                    },
                    success: function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    }
                });
            }
        });
        $('#searchbutton').click(function () {
            let searchQuery = $('#searchbox').val();
            location.href = location.protocol + '//' + location.host + location.pathname + '/search/' + searchQuery;
        })

        $('#searchicon').click(function () {
            $(this).hide();
            $('.searchtools').attr('style', 'display: block !important');

        });

        $('input[type=checkbox]').each( function() {
            $(this).removeAttr('checked');
        });


        $('.selectpicker').change(function () {
            location.href = location.protocol + '//' + location.host + location.pathname + '?items=' + $(this).val();
        });
        $('.selectpicker').val(getParam('items'));


    });
</script>
</body>
</html>