<!DOCTYPE html>
<html lang="en">
<% include partials/head.ejs %>
<body>
<% include partials/nav.ejs %>
<div class="jumbotron profile-main">
    <div class="container profile-container">
        <div class="row">
            <div class="col-md-4">
                <img src="img/profile.png" class="profile-picture"/>
            </div>
            <div class="col-md-6">
                <h3 class="profile-name"><%= firstname %> - <%= lastname %></h3>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success btn-medium">LEDGER</button>
            </div>
        </div>
    </div>
</div>
<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><a href="/add_new" class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>Add</a> </li>
                    <li><a href="#" class="btn btn-info"><span class="glyphicon glyphicon-send"></span>Move</a> </li>
                    <li><a id="removebutton" class="btn btn-danger"><span class="glyphicon glyphicon-trash"></span>Remove</a> </li>
                    <li><a class="btn btn-danger" href="#"><span class="glyphicon glyphicon-tag"></span>Sell</a> </li>
                    <li><a id="editbutton" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span>Edit</a> </li>
                </ul>

                <ul class="nav navbar-nav list-action-2">
                    <li><a href="#"><span class="glyphicon glyphicon-search"></span>Search</a> </li>
                    <li><a href="#"><span class="glyphicon glyphicon-sort"></span>Sort</a> </li>
                </ul>
            </nav>
            <div class="list">
                <table class="table table-inverse">
                    <thead>
                    <tr>
                        <th>Select</th>
                        <th>Item</th>
                        <th>Certification No</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let i = 0 ; i < inventory.length; ++i ) {%>
                    <% if (i % 2 == 0) { %>
                    <tr>
                    <% } else { %>
                    <tr class="light-blue" >
                    <% } %>
                        <th scope="row"><input type="checkbox" name="<%= inventory[i]._id %>" id = "<%= i %>" /> </th>
                        <td><%= inventory[i].denomination %> - <%= inventory[i].grade %></td>
                        <td><%= inventory[i].certification%></td>
                        <td>$ <%= inventory[i].price%></td>
                    </tr>
                    <% }%>
                    </tbody>
                </table>
            </div>
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-2">
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span> </a> </li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span> </a> </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<% include partials/scripts.ejs %>
<script>
    $(document).ready(function () {
        $('#editbutton').click(function () {
            let selectedCoin;
            $("[type=checkbox]:checked").each ( function() {
                selectedCoin = $(this).attr("name");
            });
            if(selectedCoin) {
                window.location.href = "/list/edit/" + selectedCoin;
            }

        })
        $('#removebutton').click(function () {
            let selectedCoins = [];
            $("[type=checkbox]:checked").each ( function() {
                selectedCoins.push($(this).attr("name"));
            });
            if(selectedCoins.length > 0) {
                $.ajax({
                    url: '/list',
                    type: 'DELETE',
                    data: {
                        coins: selectedCoins
                    },
                    success: function (data) {
                        if (data.success) {
                            location.reload();
                        }
                    }
                });
            }
        });
    });
</script>
</body>
</html>