<!DOCTYPE html>
<% include partials/head.ejs%>

<body>
<% include partials/nav.ejs %>

<div class="container list-action-container">
    <div class="row">
        <div class="card-large center">
            <nav class="navbar ">
                <ul class="nav navbar-nav list-action-1">
                    <li><p class="nav-desc"><span class="glyphicon glyphicon-tag"></span>Sell</p></li>
                    <li><p class="nav-desc">Here You will sell your coins</p></li>
                </ul>
            </nav>
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <td><strong>S.No</strong></td>
                            <td><strong>Certification</strong></td>
                            <td><strong>Description</strong></td>
                            <td><strong>Sale Price (USD)</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                    <% if(coinIds) { %>
                        <% for(let i = 0; i < coinIds.length; ++i){%>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= coinIds[i].certification %></td>
                                <td><%= coinIds[i].grade %> - <%= coinIds[i].denomination %></td>
                                <td><input type="number" class="form-control saleinput" name="<%= coinIds[i]._id %>"></td>
                            </tr>
                        <% } %>
                    <% } %>
                    </tbody>
                </table>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="text" name="customername" class="form-control customername" placeholder="Customer Name"/>
                        <button type="button" id="sellcoinbutton" class="btn btn-danger btn-lg">Sell</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<% include partials/scripts.ejs %>
<script>
    $(document).ready(function () {
        $('#sellcoinbutton').click(function () {
            let form = $('<form />', {
                action: '/list/sell/invoice',
                method: 'POST',
                style: 'display: none;'
            });
            $('.saleinput').each(function () {
                $(this).appendTo(form);
            });
            $('.customername').each(function () {
                $(this).appendTo(form);
            })
            form.appendTo('body').submit();
        });
    });
</script>
</body>
</html>